/***************************************/
/*****          Content            *****/
/***************************************/
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  background-color: var(--color-light);
  color: var(--color-dark);
}

/* X Title */
.x_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.x_title h2 {
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
  width: min-content !important;
}

.x_title_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.x_title_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.x_title_actions a {
  margin-bottom: 0px;
  margin-right: 10px;
}

/* Rows*/
.info_row {
  margin-bottom: 0px;
}

.input_row {
  margin-bottom: 15px;
}

.content_row {
  margin-bottom: 15px;
}
