@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@300;400;700&display=swap');

/* ROOT */

:root {
  --color-bg-primary: #FAFAFA;
  --color-bg-secondary: #EEEEEE;
  --color-bg-navbar: #FFF;
  --color-sublist-before: #BDBDBD;

  --color-txt-primary: #212121;
  --color-txt-secondary: #546E7A;

  --color-active:  rgba(0, 0, 0, 0.07);
  --color-hover: rgba(0, 0, 0, 0.09);
  --color-focus: rgba(0, 0, 0, 0.02);
  --color-border: rgba(0,0,0, 0.125);
  --color-seperator: rgba(0,0,0, 0.1);

  --height-navbar: 48px;
  --width-sidebar-small: 48px;
  --width-sidebar-large: 260px;
  --sidebar-icon-size: 48px;

  --transition-duration: 200ms;
}


/** GLOBALS **/

body {
  font-family: 'Palanquin', sans-serif;
  background: var(--color-bg-primary);
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* OVERRIDES */

.navbar {
  background-color: var(--color-bg-navbar);
  box-shadow: var(--color-border) 0 1px 0;
  height: var(--height-navbar);
}

.breadcrumb {
  margin-bottom: 0 !important;
  background-color: transparent !important;
}

/* GENERAL */

.page-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.btn-group.show {
  background-color: var(--color-hover) !important;
}

.btn-clean {
  color: var(--color-txt-primary);
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}
.btn-clean:hover {
  background-color: var(--color-hover) !important;
}
.btn-clean.focus, .btn-clean:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.separator {
  background-color: var(--color-seperator);
  height: 1px;
  margin: 0 10px;
}

.expanded-only {
  display: none;
  transition: all var(--transition-duration);
}
.expanded .expanded-only {
  display: flex;
}

/* NAVBAR */

.navbar-image {
  max-height: var(--height-navbar);
  max-width: 100%;
}

.brand-content {
  overflow: hidden;
  position: relative;
  width: var(--width-sidebar-small);
  transition: width var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
.brand-content.expanded {
  transition-duration: var(--transition-duration);
  width: var(--width-sidebar-large);
}

/* SIDEBAR */
.sidebar-container {
  background: var(--color-bg-secondary);
}

.sidebar-content {
  position: relative;
  width: var(--width-sidebar-small);
  transition: width var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  border-right: 1px solid var(--color-border);
  color: var(--color-txt-primary);
  white-space: nowrap;
}
.sidebar-content.expanded {
  transition-duration: var(--transition-duration);
  width: var(--width-sidebar-large);
}

.sidebar-content .collapsible-section {
  display: flex;
  flex-direction: column;
}
.sidebar-content.expanded .collapsible-section {
  display: flex;
  flex-direction: row;
}

.sidebar-item {
  color: var(--color-txt-primary);
}

.sidebar-item.active {
  color: var(--color-txt-primary);
  background-color: var(--color-active);
}

.sidebar-item:hover {
  text-decoration: none;
  color: var(--color-txt-primary);
  background-color: var(--color-hover);
}

.sidebar-item.active::before {
  background-color: rgba(0,120,212,1);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 0.25rem;
}

.sidebar-item::after {
  display: none !important;
}
.sidebar-item.dropdown-toggle::before,
.sidebar-sub-items::before {
  background-color: var(--color-sublist-before);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 0.25rem;
} 

.sidebar-icon {
  padding-bottom: 12px;
  padding-top: 12px;
  height: var(--sidebar-icon-size) !important;
  width: var(--sidebar-icon-size) !important;
}

.rotated-icon {
  transition-duration: var(--transition-duration);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#sidebarAdd,
#sidebarCollapse {
  cursor: pointer;
}
#sidebarAdd:hover,
#sidebarCollapse:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

/* CONTENT */
.main-content {
  overflow-x: hidden;
  overflow-y: auto;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
  #navbar-brand span,
  #profileDropdownMenu span,
  #breadcrumbs {
    display: none !important;
  }

  .brand-content.expanded {
    overflow: hidden;
    position: relative;
    width: var(--width-sidebar-small);
  }

  .sidebar-container {
    position: absolute;
    height: calc(100% - var(--height-navbar));
    left: 0;
    bottom: 0;
    z-index: 999;
  }

  .main-container {
    position: absolute;
    height: calc(100% - var(--height-navbar));
    margin-left: var(--width-sidebar-small);
    left: 0;
    bottom: 0;
  }

}
