@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

/* ROOT */

:root {
  /* Typography */
  --font-size: 1rem;

  /* Sizing */
  --height-topbar: 56px;
  --width-sidebar: 256px;

  /* Colors */
  --color-topnav-bg: #FFFF;
  --color-topnav-text: #212121;
  --color-sidebar-bg: #121212;
  --color-sidebar-text: #fafafa;
  --color-nav-nested-bg: #222222;
  --color-nav-nested-text: #fafafa;
  --color-dropdown-bg: #fafafa;
  --color-dropdown-text: #212121;
  --color-content-bg: #fafafa;
  --color-content-text: #212121;
  --color-overlay: rgba(0, 0, 0, 0.32);

  /* Transitions */
  --transition-property: all;
  --transition-duration: 150ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-delay: 0s;
}

/** GLOBALS **/

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a:hover {
  color: inherit;
}

/***************************************/
/*****         Page wrapper        *****/
/***************************************/
.page-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: var(--font-size);
}

/***************************************/
/*****          Overlay            *****/
/***************************************/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: var(--color-overlay);
  transition: var(--transition-property) var(--transition-duration)
    var(--transition-timing-function) var(--transition-delay);
}
.is-mobile .overlay.visible {
  display: block !important;
  transition: var(--transition-property) var(--transition-duration)
    var(--transition-timing-function) var(--transition-delay);
}

/***************************************/
/*****          Sidebar            *****/
/***************************************/
.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  width: 0px;
  overflow: hidden;
  z-index: 6;
  background-color: var(--color-sidebar-bg);
  color: var(--color-sidebar-text);
  transition: var(--transition-property) var(--transition-duration)
    var(--transition-timing-function) var(--transition-delay);
}
.sidebar.visible {
  width: var(--width-sidebar);
}

.is-mobile .sidebar {
  position: fixed;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.sidebar__divider {
  width: calc(100% - 16px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  padding: 16px 8px 4px;
}
.sidebar__header .sidebar__logo {
  flex-shrink: 0;
  margin-right: 10px;
}
.sidebar__header .sidebar__logo img {
  height: 42px;
  width: auto;
}
.sidebar__header .sidebar__title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  white-space: nowrap;
}

.sidebar__content {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar__content::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.sidebar__content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar__footer {
  flex-shrink: 0;
}

/***************************************/
/*****          Main            *****/
/***************************************/
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: var(--transition-property) var(--transition-duration)
    var(--transition-timing-function) var(--transition-delay);
}

/***************************************/
/*****          Topnav            *****/
/***************************************/
.topnav {
  display: flex;
  justify-content: space-between;
  position: static;
  top: 0px;
  width: 100%;
  z-index: 4;
  background-color: var(--color-topnav-bg);
  color: var(--color-topnav-text);
}

.topnav__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0px 16px;
  height: var(--height-topbar);
}

.topnav__profile a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topnav__profile .profile-image {
  height: calc(var(--height-topbar) - 20px);
  width: auto;
  margin-right: 10px;
  border-radius: 50%;
}

/***************************************/
/*****          Content            *****/
/***************************************/
.content {
  display: flex;
  overflow: auto;
  height: 100%;
  background-color: var(--color-content-bg);
  color: var(--color-content-text);
}

/***************************************/
/*****          Collapse icon      *****/
/***************************************/
.collapse-icon {
  font-size: 12px;
  width: auto;
  height: auto;
  margin-left: auto;
  color: inherit;
  transform: none;
  transition: var(--transition-property) var(--transition-duration)
  var(--transition-timing-function) var(--transition-delay);
}

.collapsed .collapse-icon,
.show .collapse-icon {
  transform: rotateX(180deg);
}

/***************************************/
/*****          Buttons            *****/
/***************************************/

.btn-clean {
  background-color: transparent;
  border: none;
  outline: none;
}
.btn-clean:focus {
  outline: 0;
  box-shadow: none;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 12px;
  font-size: 24px;
}

/***************************************/
/*****          Dropdowns          *****/
/***************************************/

.dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  width: calc(100% - 16px);
  padding: 0.25rem 1rem;
  margin: 4px 8px;
  white-space: nowrap;
  color: inherit;
}
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item i:first-child {
  width: 24px;
}

/***************************************/
/*****          Navs               *****/
/***************************************/
.nav-link {
  display: flex;
  align-items: center;
  margin: 4px 8px;
  white-space: nowrap;
  color: inherit;
  transition: var(--transition-property) var(--transition-duration)
  var(--transition-timing-function) var(--transition-delay);
}
.nav-link:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-link i:first-child {
  width: 24px;
}

.nav-nested {
  color: var(--color-nav-nested-text);
  background-color: var(--color-nav-nested-bg);
  margin: 0px 8px;
  border-radius: .25rem;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
}

